<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1><a href="http://127.0.0.1:8000/t_info">Link to Train_Information Page</a></h1>
    <br>
    <hr>
    <h2><a href="http://127.0.0.1:8000/report">Link to Train_Report Page</a></h2>
    <br>
    <hr>
    <h2><a href="http://127.0.0.1:8000/fares">Link to Train_fare Page</a></h2>
    <br>
    <hr>
    <h2><a href="http://127.0.0.1:8000/fare_report">Link to Fare_report Page</a></h2>
</body>
</html>